<html>

<head>
<title>Safer Eats</title>
<script data-require="angular.js@1.5.0" data-semver="1.5.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
<link data-require="bootstrap@3.3.1" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<script src="./client.js"></script>
</head>
<body ng-app='mainApp' ng-controller='mainCtrl' class="container" style="background: linear-gradient(to bottom, white, #DADADA); background: no-repeat">

<div class="container">

<div id="title" class="row text-center">
<h1>Safer Eats</h1>
<p>Making <b>your</b> food safer by the day!</p>
</div>

<form class="row form-inline text-center" id="search">
<div class="form-group">
	<input type="text" class="form-control" id="searchBox" ng-model="searchParam" placeholder="i.e. McDonalds">
<button type="submit" ng-click="search()" class="btn btn-info">Search</button>
<button type="submit" ng-click="getLoc()" class="btn btn-success">Near me</button>
</div>
</form>

</div>

<div class="row text-center" ng-show="haveCoords">
<pre>Latitude: {{position.coords.latitude}}
Longitude: {{position.coords.longitude}}</pre>
</div>

<div class="row text-center" ng-show="haveSearchRes">
<div class="col-md-8 col-md-offset-2">
<div class="well" ng-repeat="res in rests">
<h2>{{res.name|firstUp}}</h2>
<h6>{{res.address}}</h2>
<h6>{{res.phone}}</h2>
	<div class="text-left" ng-repeat="vio in res.violations">
		<h5>Violation ({{vio.date}}): {{vio.desc}}</h5>
	</div>
<br>
</div>
</div>
</div>

</body>

</html>		
